.projectCard {
  background-color: var(--color-background-light);
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  height: 100%;
}

.projectCard h3 {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--color-text);
  margin-bottom: var(--spacing-sm);
  line-height: 1.3;
}

.projectCard p {
  line-height: 1.7;
  color: var(--color-text);
  margin: 0;
}
